---
layout: markdown_page
title: Growth Sub-department
---

## On this page
{:.no_toc}

- TOC
{:toc}

## Vision

For more details about the product vision for Growth, see our [Growth] page.

[Growth]: /direction/growth/

## Mission

Growth focuses on improving our capabilities and metrics in the following areas:

 * [Activation](/handbook/engineering/development/growth/activation)
 * [Adoption](/handbook/engineering/development/growth/adoption)
 * [Upsell](/handbook/engineering/development/growth/upsell)
 * [Retention](/handbook/engineering/development/growth/retention)

The Growth team sub-departments consist of small teams of Fullstack engineers who can work across our different Product Stages to implement frontend and backend code that aims to impact customer usage of GitLab at scale.  

We work closely with the [Data Team](/handbook/business-ops/data-team/) along with our [Product Team](/handbook/product/growth/) counterparts to design and implement experiments that measure the impact of changes to our messaging, UX, and overall experience of using GitLab.

## Team Members

The following people are permanent members of the Growth Sub-department:

<%= direct_team(role_regexp: /[,&] Growth/, manager_role: 'Director of Engineering, Growth') %>

We''re hiring for [Fullstack engineers] to join our team

[Fullstack engineers]: /jobs/apply/fullstack-engineer-growth-4247953002/

## Stable Counterparts

The following members of other functional teams are our stable counterparts:

<%= stable_counterparts(role_regexp: /[,&] Growth/, direct_manager_role: 'Engineering Manager, Growth') %>

## Common Links

 * [Growth issues board]
 * [#g_growth] in Slack


[Growth issues board]: https://gitlab.com/gitlab-org/growth/issues

[#g_growth]: https://gitlab.slack.com/archives/g_growth
