<% career_matrix = data.engineering_ic_career_matrix %>
<% career_categories = career_matrix[0].keys[1..-1] %>

<% career_matrix.each do |level|  %>
### <%=level.name %>
  <% career_categories.each do |category|  %>
#### <%=category %>

<dl>
  <% career_matrix[0][category].keys.each do |behaviour| %>
    <dt><%= behaviour %></dt>
    <dd><%= kramdown(level[category][behaviour]&.join(' ') || '') %></dd>
  <% end %>
</dl>

  <% end %>
<% end %>
